<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form   id = "createR" th:method="POST" th:action="@{/admin/Room/cr}" th:object="${roomDto}">
    <h2> ВВОД НОВОЙ КОМНАТЫ</h2>
    <label for="ID" >Ввод ID </label>
    <input type="text" id="ID" th:field="*{id}">

    <label for="size" >Ввод size</label>
    <input type="number" id="size" th:field="*{size}">


    <label for="rate" > Ввод rate</label>
    <input type="text" id="rate" th:field="*{rate}" >

    <label for="info" > Ввод info</label>
    <input type="text" id="info" th:field="*{info}" >

    <input type="submit"  form="createR" value="добавить">
</form>
</body>
</html>