<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/admin/Services}">Подменю управления услугами</a>
        </div>
    </div>
</nav>
<form   id = "createS" th:method="POST" th:action="@{/admin/Services/findByName}" th:object="${servDto}">
    <h2> узнать цену</h2>
    <label for="name" >Ввод username</label>
    <input type="text" id="name" th:field="*{name}">
    <input type="submit"  form="createS" value="узнать">
</form>
</body>
</html>