<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>RESERVATION PAIN</title>


</head>

<body>

<nav th:fragment="navbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/admin/Reservation}">Подменю управления бронью(резервациями)</a>
        </div>
    </div>
</nav>
<form   id = "createF" th:method="POST" th:action="@{/admin/Reservation/cr}" th:object="${createDTO}">
    <h2> ВВОД НОВОЙ БРОНИ</h2>
    <label for="bookerID" >Ввод bookerID </label>
    <input type="text" id="bookerID" th:field="*{bookerID}">

    <label for="arrival" >Ввод arrival (отключено для тестов)</label>
    <input type="text" id="arrival" th:field="*{arrival}">

    <label for="depart" >Ввод depart (отключено для тестов) </label>
    <input type="text" id="depart" th:field="*{depart}">

    <label for="roomNumber" >Ввод roomNumber</label>
    <input type="text" id="roomNumber" th:field="*{roomNumber}" >

    <label for="numberOfOccupants" > Ввод numberOfOccupants</label>
    <input type="number" id="numberOfOccupants" th:field="*{numberOfOccupants}" >

    <input type="submit"  form="createF" value="добавить">
</form>
</body>

</html>