<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/admin/Reservation}">Подменю управления бронью(резервациями)</a>
        </div>
    </div>
</nav>
<form   id = "search2F" th:method="get" th:action="@{/admin/Reservation/findAllByBookerIdAndStatusEquals/table}" th:object="${reqData2}">
    <h2> ВВОД поиска</h2>
    <label for="name" >Ввод name </label>
    <input type="text" id="name" th:field="*{name}">

    <label for="stat" >Ввод status </label>
    <input type="text" id="stat" th:field="*{stat}">
    <input type="submit"  form="search2F" value="поиск">
</form>


</body>
</html>