<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <nav th:fragment="navbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" th:href="@{/admin/Reservation}">Подменю управления бронью(резервациями)</a>
      </div>
    </div>
  </nav>
</head>
<body>
<table  border="1" >
  <tr>
    <th>ид</th>
    <th>имя</th>
    <th>когда приедет</th>
    <th>когда уедет</th>
    <th>номер комнаты</th>
    <th>сколько людей с ним</th>
  </tr>
  <tr
          th:each="reservDTO, iStat : ${reservDTOs}"
          th:style="${iStat.odd}? 'font-weight: bold;'"
          th:alt-title="${iStat.even}? 'even' : 'odd'">
    <td th:text="${reservDTO.id}">ид</td>
    <td th:text="${reservDTO.bookerId}">имя </td>
    <td th:text="${reservDTO.arrival}">когда приедет</td>
    <td th:text="${reservDTO.depart}">когда уедет</td>
    <td th:text="${reservDTO.roomNumber}">номер комнаты</td>
    <td th:text="${reservDTO.numberOfOccupants}">сколько людей</td>
  </tr>
</table>
</body>
</html>